.about {
    padding: 6rem 0 3rem 0;
}
.row-about {

}
.about-picture {
    width: 100%;
    height: max-content;
    overflow: hidden;
}
.about-picture-img {
    width: 110%;
    height: 100%;
    filter: grayscale(1);
    border-radius: 2.5rem;
    transition: var(--transition);
}
.about-picture-img:hover {
    filter: grayscale(0);
}
.about-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}
.about-content-title {
    font-family: var(--request-font);
    font-size: 4rem;
    line-height: 8rem;
}
.about-content-title--lorem {
    color: var(--motel-color);
}
.about-content-title--dolor {
    background-color: var(--motel-color);
}
.about-content-caption {

}
.about-content-btn {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}
.btn--about-green {
    color: var(--green-color);
    border-color: var(--green-color);
}
.btn--about-green:hover {
    background-color: var(--green-color);
    color: white;
}
.btn--about-blue {
    color: var(--motel-color);
    border-color: var(--motel-color);
}
.btn--about-blue:hover {
    background-color: var(--motel-color);
    color: white;
}
.row-company {

}
.about-company {
    width: 100%;
    height: max-content;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.about-company-img {
    height: 8rem;
}
.about-company-img--meta {
    height: 6rem;
}