/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Helper Class
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  (max-width: 767px) {
    .order-1 {
        order: 1;
    }
}